*{
    text-align: center;
    padding-top: 120px;
}

.comic-button{
    display: inline-block;
    padding:10px 20px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: orangered;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:5px 5px 0px black;
    transition: all 0.3s ease;
}

.comic-button:hover{
    background-color: white ;
    color: orangered;
    border: 2px solid orangered;
    box-shadow: 5px 5px 0px orangered;
}

.comic-button:active{
    background-color:#fcf414;
    box-shadow: none;
    transform: translateY(4px);;
}